{% extends "base.html" %}

{% block title %} About Us {% endblock %}

{% block content %} 
<h1>Our Mission</h1>
<p>
    We believe in freedom of every human being by 
    upholiding their fundamental rights and freedoms. 
    At organa we do this by ensuring that each donor 
    and recipient is catered to appropriately during 
    the organ donation process by storing their records.
</p>
<p>
    <i>What 'Organa' mean?</i>
    Oragan means instrument in Latin. The meaning of an 
    organ in Latin is derived from it. Organs, just like 
    instruments of work, are essential in the proper 
    function of the human body.
</p>
{% endblock %}