<footer>
    <div>
        <!-- About -->
        <div>
            <h2>About</h2>
            <p>We help in ensuring that each organ donor and each organ recipinet's rights are catered to. Contact us for inquiries or feedback.</p>
        </div>  

        <!-- Quick Links -->
        <div>
            <h2>Quick Links</h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </div>  

        <!-- Social Media -->
        <div>
            <h2>Follow Us</h2>
            <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">X</a></li>
            <li><a href="#">Instagram</a></li>
            </ul>
        </div>
    </div>  

    <div>
        <p>&copy; 2025 Organa. All rights reserved.</p>
    </div>
</footer>
