{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %} 
<h1>Organa</h1>
<p>
    We are a company that stores records 
    for organ transplants which ensures 
    that each and every donor and recipient 
    is not neglected. We are especially keen 
    on upholding their rights by ensuring a 
    fair and legal procedure is followed.
</p>
<p>
    Welcome to Organa. Are you seeking an 
    organ transplant? well you're at the 
    right place. Would you like to be an 
    organ donor? You're at the right place 
    as well!
</p>
{% endblock %}